@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bai-jamjuree {
    font-family: 'Bai Jamjuree', sans-serif;
}

.fredoka {
    font-family: 'Fredoka', sans-serif;
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.level {
    .text-title {
        font-size: 1.2vw;
        line-height: 1.7vw;
        @media (max-width: 1024px) {
            font-size: 4.5vw;
            line-height: 7vw;
        }
        @media (max-width: 512px) {
            font-size: 5vw;
            line-height: 8vw;
        }
    }
}

.box-total {
    .text-title {
        font-size: 1.2vw;
        line-height: 1.6vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 3vw;
            line-height: 6vw;
        }
    }
    .text-content {
        font-size: 1.4vw;
        line-height: 1.4vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4.7vw;
            line-height: 8vw;
        }
    }
    .text-contentT {
        font-size: 1.4vw;
        line-height: 1.4vw;
        font-weight: 400;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 4.7vw;
            line-height: 8vw;
        }
    }

    .text-titleLevel{
        font-size: 1.1vw;
        line-height: 1.1vw;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 6vw;
        }
    }

    .text-contentLevel {
        font-size: 1vw;
        line-height: 1vw;
        font-weight: 400;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 6vw;
        }
    }
    .text-vip {
        font-size: 0.8vw;
        line-height: 1vw;
        font-weight: 700;
        font-family: "Fredoka", sans-serif;
        text-transform: uppercase;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 6vw;
        }
    }
    .text-titleBox {
        font-size: 1.2vw;
        line-height: 1.4vw;
        font-weight: 500;
        font-family: "Kanit", sans-serif;
        letter-spacing: 0.05em;
        @media (max-width: 1024px) {
            font-size: 4.5vw;
            line-height: 6vw;
        }
        @media (max-width: 512px) {
            font-size: 3.1vw;
            line-height: 5vw;
        }
    }

    .text-contentBox {
        font-size: 1.3vw;
        line-height: 1.6vw;
        font-weight: 500;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 4.7vw;
            line-height: 8vw;
        }
        @media (max-width: 512px) {
            font-weight: 600;
            font-size: 3.7vw;
            line-height: 5vw;
        }
    }
}

.user-info {
    .text-username {
        font-size: 1.1vw;
        line-height: 1.1vw;
        font-weight: 500;
        @media (max-width: 1024px) {
            font-size: 4.5vw;
            line-height: 8vw;
        }
    }

    .text-level {
        font-size: 0.9vw;
        line-height: 0.9vw;
        @media (max-width: 1024px) {
            font-size: 4.5vw;
            line-height: 8vw;
        }
    }

    .text-balance {
        font-size: 0.9vw;
        line-height: 0.9vw;
            @media (max-width: 1024px) {
                font-size: 4.5vw;
                line-height: 8vw;
        }
    }
}

.exploreTours {
    font-family: 'Bai Jamjuree', sans-serif;
    .text-title {
        font-size: 1.2vw; 
        line-height: 3vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 3.7vw;
            line-height: 6vw;
        }
    }
    .text-content {
        font-size:0.8vw;
        line-height:1.4vw;
        @media (max-width: 1024px) {
            font-size: 2.9vw;
            line-height: 4.5vw;
        }
    }
}

.text-input {
    @media (max-width: 1140px) {
        font-size: 1.3vw;
        line-height: 1.3vw;
    }
    @media (max-width: 786px) {
        font-size: 2vw;
        line-height: 2vw;
    }
    @media (max-width: 512px) {
        font-size: 3.2vw;
        line-height: 3.2vw;
    }
}

.bank-card {
    color: #fff;
    font-family: "Kanit", sans-serif;
    .vietcombank {
        font-size: 1.6vw;
        line-height: 1vw;
        font-weight: bold;
        @media (max-width: 1024px) {
            font-size: 6vw;
            line-height: 5vw;
        }
    }
    .bank-name {
        font-weight: 400;
        font-size: 1vw;
        line-height: 1vw;
        font-style: normal;
        letter-spacing: 3px;
        @media (max-width: 1024px) {
            font-size: 5vw;
            line-height: 5vw;
        }
    }
    .bank-number {
        font-weight: 600;
        font-size: 2vw;
        line-height: 1vw;
        font-style: normal;
        letter-spacing: 0.1em;
        
        @media (max-width: 1024px) {
            font-size: 5vw;
            line-height: 5vw;
            letter-spacing: 0.3em; 
        }
    }
    .content-payment {
        font-weight: 600;
        font-size: 1vw;
        line-height: 1vw;
        font-family: 'Bai Jamjuree', sans-serif;
        letter-spacing: 0.05em; 
        @media (max-width: 1024px) {
          font-size: 4vw;
          line-height: 5vw;
          letter-spacing: 0.03em; 
        }
    }
    .content-payment2 {
        font-weight: 100;
        font-size: 1vw;
        line-height: 1vw;
        font-family: 'Bai Jamjuree', sans-serif;
        letter-spacing: 0.05em; 
        @media (max-width: 1024px) {
          font-size: 4vw;
          line-height: 5vw;
          letter-spacing: 0.2em; 
        }
    }
}

.inputLogin {
    .text-label {
        font-size: 1vw;
        line-height: 1vw;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 2.3vw;
            line-height: 3vw;
        }
        @media (max-width: 512px) {
            font-size: 4vw;
            line-height: 4vw;
        }
    }
}

.wallet-item {
    .text-title {
        font-size: 1vw;
        line-height: 1vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
        @media (max-width: 512px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
    .text-titleBalance {
        font-size: 1vw;
        line-height: 1vw;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
        @media (max-width: 512px) {
            font-size: 5vw;
            line-height: 7vw;
        }
    }

    .text-content {
        font-size: 0.8vw;
        line-height: 0.8vw;
        color: #166be0;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 3vw;
            line-height: 4vw;
        }
        @media (max-width: 512px) {
            font-size: 3.5vw;
            line-height: 5vw;
        }
    }

    .text-ban {
        font-size: 0.6vw;
        line-height: 0.6vw;
        font-weight: bold;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 3vw;
            line-height: 4vw;
        }
        @media (max-width: 512px) {
            font-size: 3.5vw;
            line-height: 5vw;
        }
    }
    .text-titleUser {
        font-size: 1vw;
        line-height: 1vw;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 1024px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
        @media (max-width: 512px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
    .text-contentUser {
        font-size: 1vw;
        line-height: 1vw;
        color: #0950b3;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 3vw;
            line-height: 4vw;
        }
        @media (max-width: 512px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
}

.sidebar {
    .text-directory {
        font-size: 1vw;
        line-height: 1.5vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
    .text-overview {
        font-size: 1vw;
        line-height: 2vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }

    .text-item {
        font-size: 0.9vw;
        line-height: 1.5vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 3.8vw;
            line-height: 5vw;
        }
    }
}

.inputC {
    .text-label {
        font-size: 0.8vw;
        line-height: 1vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 3.8vw;
            line-height: 5vw;
        }
    }
}

.text-contact {
    font-size: 0.8vw;
    line-height: 1vw;
    font-weight: 700;
    @media (max-width: 1024px) {
        font-size: 3.5vw;
        line-height: 5vw;
    }
}

.text-close {
    font-size: 1.2vw;
    line-height: 1.2vw;
    font-weight: 700;
    @media (max-width: 1024px) {
        font-size: 5vw;
        line-height: 5vw;
    }
}

.notes {
    .text-titleNote {
        font-size: 0.9vw;
        line-height: 3vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
    .text-lucky {
        font-size: 0.9vw;
        line-height: 1.5vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4.5vw;
            line-height: 6.5vw;
        }
    }
    .text-note {
        font-size: 0.8vw;
        line-height: 1.5vw;
        font-weight: 400;
        @media (max-width: 1024px) {
            font-size: 3vw;
            line-height: 5vw;
        }
        @media (max-width: 512px) {
            font-size: 3vw;
            line-height: 5vw;
        }
    }
}
.text-noteLogin {
    font-size: 0.8vw;
    line-height: 1.5vw;
    font-weight: 400;
    @media (max-width: 1024px) {
        font-size: 2.5vw;
        line-height: 4vw;
    }
    @media (max-width: 512px) {
        font-size: 3.5vw;
        line-height: 5vw;
    }
}

.payment {
    .text-title {
        font-size: 1.5vw;
        line-height: 2vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 3.5vw;
            line-height: 6vw;
        }
        @media (max-width: 512px) {
            font-size: 4.5vw;
            line-height: 7vw;
        }
    }

    .text-content {
        font-size: 0.8vw;
        line-height: 0.8vw;
        font-weight: 700;
        
        @media (max-width: 1024px) {
            font-size: 3.6vw;
            line-height: 6vw;
        }
    }
}

.history-evaluate {
    .text-time {
        font-size: 0.8vw;
        line-height: 1.2vw;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
    .text-place {
        font-size: 1vw;
        line-height: 1.2vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }

    .text-status {
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }

    .text-title {
        font-size: 0.8vw;
        line-height: 1.2vw;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 5vw;
        }
    }
    
}

.destination {
    .text-title {
        font-size: 1.5vw;
        line-height: 2vw;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 3.5vw;
            line-height: 5vw;
        }
        @media (max-width: 521px) {
            font-size: 4.4vw;
            line-height: 7vw;
        }
    }

    .text-content {
        font-size: 0.8vw;
        line-height: 0.8vw;
        font-weight: 400;
        @media (max-width: 1024px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
    }
}

.menu-list {
    .text-username {
        font-size: 0.9vw;
        line-height: 1.2vw;
        font-weight: 600;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 6vw;
        }
    }

    .text-phone {
        font-size: 0.8vw;
        line-height: 1.2vw;
        letter-spacing: 0.1em;
        font-weight: 400;
        font-family: 'Bai Jamjuree', sans-serif!important;
        @media (max-width: 1024px) {
            font-size: 4vw;
            line-height: 6vw;
        }
    }
    .text-title {
        font-size: 0.7vw;
        line-height: 1.2vw;
        font-weight: 400;
        @media (max-width: 1024px) {
            font-size: 3.5vw;
            line-height: 7vw;
        }
    }
}


.admin {
    .text-username {
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 500;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 2vw;
            line-height: 3vw;
        }
        @media (max-width: 1024px) {
            font-size: 2.5vw;
            line-height: 3vw;
        }
        @media (max-width: 512px) {
            font-size: 3.8vw;
            line-height: 5vw;
            
        }
    }

    .text-phone {
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 400;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 2vw;
            line-height: 3vw;
        }
        @media (max-width: 1024px) {
            font-size: 2vw;
            line-height: 3vw;
        }
        @media (max-width: 512px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
    }
    .text-vip {
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 2.5vw;
            line-height: 4vw    
        }
        @media (max-width: 512px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
    }
    .text-content {
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 400;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 2.5vw;
            line-height: 4vw;
        }
        @media (max-width: 512px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
    }
    
    .text-status {
        font-size: 0.9vw;
        line-height: 1.2vw;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
        @media (max-width: 1024px) {
            font-size: 2.5vw;
            line-height: 4vw    
        }
        @media (max-width: 512px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
    }
  
}

.amountButtons {
    font-size: 0.9vw;
    line-height: 1.2vw;
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
    @media (max-width: 1024px) {
        font-size: 3.2vw;
        line-height: 5vw;
    }
    @media (max-width: 512px) {
        font-size: 3.2vw;
        line-height: 5vw;
    }
}

.history-transaction {
    .text-infoBill {
        font-size: 0.8vw;
        line-height: 1.2vw;
        font-weight: 400;
        @media (max-width: 1024px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
        @media (max-width: 512px) {
            font-size: 3.2vw;
            line-height: 5vw;
        }
    }
}