.bg-login {
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .bg-login {
        background-image: url(../assets/img/bg-login-pc.jpg);
    }
}

@media (max-width: 767px) {
    .bg-login {
        background-image: url(../assets/img/bg-login.jpg);
    }
}

.container-login-form-btn {
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    .login-form-bgbtn {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        width: 320%;
        height: 100%;
        background: #514bf4;
        background: -webkit-linear-gradient(right, #59f0f3, #07c9cc, #59f0f3, #07c9cc);
        background: -o-linear-gradient(right, #59f0f3, #07c9cc, #59f0f3, #07c9cc);
        background: -moz-linear-gradient(right, #59f0f3, #07c9cc, #59f0f3, #07c9cc);
        background: linear-gradient(260deg, #59f0f3, #07c9cc, #59f0f3, #07c9cc);
        top: 0;
        left: -100%;
        transition: all 0.4s;
    }
    .login-form-btn {
        cursor: pointer;
        position: relative;
        z-index: 2;
        font-family: Poppins;
        font-weight: bold;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        font-family: "Bai Jamjuree", sans-serif;
    }
    .wrap-login-form-btn:hover .login-form-bgbtn {
        left: 0;
    }
}

.transition-cus {
    transition: transform 0.5s ease;
}

.alert {
    cursor: pointer;
}

.title-alert {
    transition: opacity 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}